@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.item-inline .ant-form-item-label{
  float: left;
}
.item-inline .ant-form-item-control-wrapper{
  float: left;
}

.item-inline {
  margin-right: 30px;
  display: inline-block;
}
